*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# swp for vim
*.swp

# Log file directory
log/

# Temp file directory
tmp/

# Lab directory
lab/

# Lab directory
files/

# confidential file
/utils/confidential.py

# data file in tools
/tools/data






