/**
 * Css file for home view.
 */

body {
  text-align: center;
}

.home-content-container {
  margin: 160px auto auto auto;
  width: 500px;
  display: inline-block;
}


.home-logo-card {
  background-image: url('http://www.google.com/logos/2010/yundongju10-hpi.jpg');
  width: 467px;
  height: 163px;
  margin: auto auto 10px auto;
}

.home-input-container {
}

.home-input-text,
.home-input-button {
  height: 28px;
}

.home-input-text {
  display: inline;
  width: 260;
  margin-right: 20px;
  border: 1px solid #999;
}

.home-input-text:hover {
  border: 1px solid #444;
}

.home-input-button {
  display: inline;
  background-color: #99f;
  text-align: center;
  padding: 4px 7px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #99f;
}

.home-input-button {
 -moz-user-select: none; /*火狐*/
 -webkit-user-select: none;  /*webkit浏览器*/
 -ms-user-select: none;   /*IE10*/
 -khtml-user-select: none; /*早期浏览器*/
 user-select: none;
}

.home-input-button:hover {
  border: 1px solid #66e;
}

.home-input-button:active {
  background-color: #77d;
}
